:root {
	--color-text-gray: #525777;
	--color-text-gray-1: #ecedf2;
	--color-text-gray-2: #f6f6f9;
	--color-text-gray-4: #8c8f97;
	--color-text-gray-5: #404144;

	--color-text-light-gray: #8c8f97;
	--color-text-light-gray: #8c8f97;
	--color-text-light-gray: #8c8f97;
	--color-text-dark: #16171b;
	--color-text-light: #fff;
	--color-primary: #862fde;

	// По хорошему сюда надо добавить space и border-radius
}
